{% load static %}
<!--HU6 — Login de empresa
Como usuario PYME registrado
quiero iniciar sesión en la plataforma
para acceder a mi información y dashboard.
Criterios de aceptación
•	Dado que accedo a /login/, veo un formulario con email y contraseña.
•	Cuando ingreso credenciales válidas, me redirige al dashboard.
•	Si las credenciales son inválidas, se muestra un mensaje de error.
--->
<link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <label for="username">Correo electrónico:</label>
    <input type="username" name="username" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Iniciar Sesión</button>
    <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>

</form>

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
